body{
    background:  rgba(206, 206, 211, 0.699);
    font-family: 'Roboto Slab', serif;
    text-align: center;
    }
    section{
        background: white;
        font-family: 'Roboto Slab', serif;
        border-radius: 15px;
        padding: 15px;
        width: 320px;
        margin: 200px auto;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.781);
        }
        #bt{
            border: none;
            font-size: 12pt;
            font-family: 'Roboto Slab', serif;
            background-color: #518edf;
            padding: 7px;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
            width: 110px; 

        }
#user{
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0.4, 0.4, 0.4, 0.4);
 
}
#senha{
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0.4, 0.4, 0.4, 0.4);
}
